.arrowLeft {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: rgba(19, 61, 141, 1);
    border: 0;
    outline: 0;
}

.arrowLeft::after {
    position: absolute;
    content: '<';
    color: white;
    font-size: 20px;
    display: inline;
    right: 40%;
    bottom: 30%;
}

.arrowLeft:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.arrowLeft:active {
    transform: scale(0.95);
}